In [1]:
import pandas as pd

In [2]:
file = "Resources/combined.csv"


original_data = pd.read_csv(file)

original_data.head()

,Unnamed: 0,Country,Item,Element,Year,Unit,Value,Population Size,2020 GDP in USD,GDP Per Capita
0,0,Afghanistan,"Almonds, with shell",Production,2020,tonnes,0.0,38928341.0,2.011614e+10,516.747871
1,1,Afghanistan,"Anise, badian, fennel, coriander",Production,2020,tonnes,0.0,38928341.0,2.011614e+10,516.747871
2,2,Afghanistan,Apples,Production,2020,tonnes,0.0,38928341.0,2.011614e+10,516.747871
3,3,Afghanistan,Apricots,Production,2020,tonnes,0.0,38928341.0,2.011614e+10,516.747871
4,4,Afghanistan,Barley,Production,2020,tonnes,0.0,38928341.0,2.011614e+10,516.747871

In [3]:
del original_data["Unnamed: 0"]

In [4]:
data = original_data.groupby(["Country"]).sum()
data

,Year,Value,Population Size,2020 GDP in USD,GDP Per Capita
Country,,,,,
Afghanistan,86860,4.229264e+07,1.673919e+09,8.649939e+11,2.222016e+04
Albania,135340,1.011289e+07,1.901359e+08,1.013835e+12,3.572548e+05
Algeria,147460,1.776639e+08,3.201126e+09,1.058567e+13,2.414006e+05
Angola,78780,6.321379e+07,1.281784e+09,2.091144e+12,6.362584e+04
Antigua and Barbuda,64640,2.057220e+05,3.133696e+06,4.384901e+10,4.477678e+05
...,...,...,...,...,...
Uzbekistan,163620,9.858325e+07,2.772796e+09,4.851439e+12,1.417221e+05
Vanuatu,30300,7.513000e+05,4.607250e+06,1.345242e+10,4.379755e+04
World,266640,4.013552e+10,1.024839e+12,1.120770e+16,1.443560e+06
Zambia,94940,4.914155e+07,8.640459e+08,8.511997e+11,4.630122e+04
Zimbabwe,165640,1.920509e+07,1.218760e+09,1.480196e+12,9.958981e+04

In [5]:
summed_data = original_data.groupby(["Country"]).agg({"Value": ['sum'], 'Year': 'max', 'Population Size': 'max', 'GDP Per Capita': 'max'})
summed_data

                            Value  Year Population Size GDP Per Capita
                              sum   max             max            max
Country
Afghanistan          4.229264e+07  2020    3.892834e+07     516.747871
Albania              1.011289e+07  2020    2.837849e+06    5332.160475
Algeria              1.776639e+08  2020    4.385104e+07    3306.858208
Angola               6.321379e+07  2020    3.286627e+07    1631.431691
Antigua and Barbuda  2.057220e+05  2020    9.792800e+04   13992.744480
...                           ...   ...             ...            ...
Uzbekistan           9.858325e+07  2020    3.423205e+07    1749.655815
Vanuatu              7.513000e+05  2020    3.071500e+05    2919.836800
World                4.013552e+10  2020    7.763933e+09   10936.057466
Zambia               4.914155e+07  2020    1.838396e+07     985.132436
Zimbabwe             1.920509e+07  2020    1.486293e+07    1214.509820

[167 rows x 4 columns]

In [6]:
data["Year"] = summed_data["Year"]["max"]
data["GDP Per Capita"] = summed_data["GDP Per Capita"]["max"]
data["Population Size"] = summed_data["Population Size"]["max"]
data.head()

,Year,Value,Population Size,2020 GDP in USD,GDP Per Capita
Country,,,,,
Afghanistan,2020,42292638.0,38928341.0,8.649939e+11,516.747871
Albania,2020,10112893.0,2837849.0,1.013835e+12,5332.160475
Algeria,2020,177663901.0,43851043.0,1.058567e+13,3306.858208
Angola,2020,63213788.0,32866268.0,2.091144e+12,1631.431691
Antigua and Barbuda,2020,205722.0,97928.0,4.384901e+10,13992.744480

Checking to make sure the length is good.

In [9]:
len(data)

167

In [8]:
new_data = data.groupby(["Country"]).agg({"Value": ['sum'], 'GDP Per Capita': 'max', 'Year': 'max', 'Population Size': 'max'})
len(new_data["Year"]["max"].tolist())

167

In [10]:
data.to_csv("Resources/merged_data.csv")